* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", cursive;
  background-color: #add8e6;
}

.container {
  width: 60%;
  margin: auto;
}

div.title {
  margin-bottom: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px #722727;
  text-align: center;
  padding-top: 10px;
}

.row {
  margin: 12px 0;
  text-align: center;
}

.card {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 135px;
  box-shadow: 2px 2px rgba(155, 30, 30, 0.486);
  background-image: url(../img/pattern.png);
  background-size: contain;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

.card:hover .container-card, .active .container-card{
  display: block;
  position: absolute;
  background-color: white;
  background-size: cover;
}

.container-card {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

img {
  padding-top: 10px;
  height: 100px;
  width: 100px;
}

span {
  font-size: 25px;
  color: orange;
}

p{
  color: black;
  font-size: 18px;
  text-align: center;
}

.card:hover.active span{
  color:red;
}